@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Outfit:wght@300;400;600&display=swap");

:root {
	--primary-color: hsl(215, 51%, 70%);
	--secondary-color: hsl(178, 100%, 50%);
	--main-bg: hsl(217, 54%, 11%);
	--card-bg: hsl(216, 50%, 16%);
	--line-color: hsl(215, 32%, 27%);
	--white: hsl(0, 0%, 100%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Merriweather", serif;
}

hr {
	border: 1px solid var(--line-color);
	width: 100%;
	margin: 10px 0;
}

p {
	color: var(--primary-color);
	font-size: 15px;
}

body {
	background-color: var(--main-bg);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

.image-full-width {
	width: 100%;
}

/* Main container */
.container {
	max-width: 350px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	background-color: var(--card-bg);
	border-radius: 15px;
	margin-bottom: 20px;
}

/* Image */
.image-container {
	position: relative;
	background: var(--secondary-color);
	display: flex;
	align-items: center;
	overflow: hidden;
	border-radius: 15px;
}

#view {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.image-container:hover #view {
	display: block;
}

.image-container:hover .image-full-width {
	opacity: 0.5;
}

/* Paragraph */
.paragraph-container {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 15px;
}

#header {
	font-size: 18px;
	color: var(--white);
	margin-bottom: 20px;
}

.text-flex {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 15px;
}

.flex-container {
	width: 40%;
	display: flex;
	align-items: center;
}

#value,
#timer {
	margin-left: 5px;
}

#value {
	color: var(--secondary-color);
}

/* Author container */
.author {
	width: 100%;
	display: flex;
	align-items: center;
}

.avatar {
	border: 1px solid var(--white);
	border-radius: 50%;
	width: 40px;
	margin-right: 20px;
}

/* Responsive Media */

@media (max-width: 425px) {
	.container {
		max-width: 327px;
	}

	p {
		font-size: 12px;
	}

	#header {
		font-size: 15px;
	}
}
