@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
	--primary-color: hsl(215, 51%, 70%);
	--secondary-color: hsl(178, 100%, 50%);
	--main-bg: hsl(217, 54%, 11%);
	--card-bg: hsl(216, 50%, 16%);
	--line-color: hsl(215, 32%, 27%);
	--white: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

p {
	color: var(--primary-color);
	font-size: 1.125rem;
	font-weight: 300;
	line-height: 1.4;
}

h1 {
	cursor: pointer;
	font-size: 1.375rem;
	font-weight: 600;
	line-height: 1;
	color: var(--white);
}

h1:hover {
	color: var(--secondary-color);
}

img {
	max-width: 100%;
}

body {
	font-family: 'Outfit', sans-serif;
	background-color: var(--main-bg);
	display: grid;
	place-items: center;
	flex-direction: column;
	min-height: 100vh;
}

/* Utilities Classes */
.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	align-self: stretch;
}

.flex-item {
	display: flex;
	align-items: center;
	gap: 0.35rem;
}

.container {
	width: min(88%, 350px);
	padding: 2rem;
	display: flex;
	flex-direction: column;
	background-color: var(--card-bg);
	border-radius: 0.75rem;
}

.image--cube {
	border-radius: 0.75rem;
	display: block;
}

.image--avatar {
	width: 33px;
	height: 33px;
	border-radius: 50%;
	border: 1px solid var(--white);
}

.mt-1 {
	margin-top: 1rem;
}

/* Component CSS */
/* Image */
.image-container {
	cursor: pointer;
	border-radius: 0.75rem;
	position: relative;
}

.image-container::after {
	content: '';
	display: none;
	position: absolute;
	inset: 0;
	border-radius: 0.75rem;
	background: url(./images/icon-view.svg), hsl(178, 100%, 50%, 0.5);
	background-repeat: no-repeat;
	background-position: center;
}

.image-container:hover::after {
	display: block;
}

/* Paragraph container children */
.paragraph-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.value,
.time {
	font-size: 1rem;
}

.value {
	color: var(--secondary-color);
	font-weight: 600;
}

.time {
	font-weight: 400;
}

/* Author container */
.author {
	display: flex;
	align-items: center;
	gap: 1rem;
	border-top: 1px solid var(--line-color);
}

.name {
	cursor: pointer;
	color: var(--white);
}

.name:hover {
	color: var(--secondary-color);
}

/* Responsive Media */
@media (max-width: 35em) {
	p {
		font-size: 1rem;
		line-height: 1.6;
	}

	.value,
	.time,
	.author p {
		font-size: 0.9375rem;
	}
}
